* {
  box-sizing: border-box;
}

body {
  background: rgb(88, 192, 158);
  background: linear-gradient(
    0deg,
    rgba(88, 192, 158, 1) 19%,
    rgba(150, 34, 195, 1) 46%,
    rgba(108, 80, 192, 1) 65%,
    rgba(255, 223, 248, 1) 95%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  width: 80%;
  height: 70%;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: inherit;
  overflow: hidden;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

/*efeito vidro*/

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  font-weight: bold;

  ul {
    list-style: none;
    display: flex;
    color: white;
    padding: 0;

    li {
      margin: 0 15px;
      display: flex;
      align-items: center;

      &.active {
        background: #20b2aa;
        padding: 3px 15px;
        border-radius: 9px;
      }
    }
  }
}

.content {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    animation: move 2s infinite alternate ease-in-out;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 100%;
    color: white;

    svg {
      margin: 15px 30px;
    }
  }

  &-text {
    color: white;
    width: 100%;
    padding: 0 30px;

    h1,
    h3 {
      margin: 0;
    }

    h1 {
      font-size: 50px;
    }

    &.right {
      text-align: right;
      margin-top: 170px;
    }

    &.left {
      margin-top: -300px;
    }
  }
}

.pre-order {
  background: #d2691e;
  margin-left: auto;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 8px 0 0 0;

  svg {
    margin-right: 15px;
  }
}

@keyframes move {
  from {
    transform: translate(-50%, -55%) rotate(-25deg);
  }
}
